* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: #ddd;
    height: 100vh;
    

}

.sidenav {
    position: fixed;
    width: 250px;
    height: 100%;
    background-image: radial-gradient(circle 986.6px at 10% 20%, rgba(251, 6, 6, 0.94) 0%, rgba(3, 31, 213, 1) 82.8%, rgba(248, 101, 248, 1) 87.9%);
}

.section {
    width: calc(100% - 250px);
    height: 100vh;
    margin-left: 250px;
    overflow: hidden;

}

.section .topnav-h1 {
    overflow: hidden;
    margin-bottom: 0px;
}

.section .topnav {
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100% - 250px);
    display: flex;
    align-items: center;

    background-image: linear-gradient(179.7deg, rgba(249, 21, 215, 1) 1.1%, rgba(22, 0, 98, 1) 99%);
}

#toggle {
    margin: 10px 0px 10px 10px;
    padding: 10px 15px;
    border-radius: 45%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    display: none;

}

#toggle:hover {
    background-color: darkorange;
    transition: 0.3s;
    color: #fff;
}

.topnav-h1 {
    padding: 10px 0px 10px 10px;
    color: white;
}

.sidenav-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;

}

.sidenav-menu button {
    padding: 10px 0px;
    border: none;
    border-radius: 3px;
    overflow: hidden;
    font-size: 25px;
    cursor: pointer;
}

.sidenav-menu button:hover {
    background-color: darkorange;
    color: #fff;
    cursor: pointer;
}
#register-btn{
    color: white;
    background-color: darkorange;
}
#signin {
    display: none;
}

.contain {
    margin: 60px 20px;

}

.contain #register #signin{
    margin-top: 0px;
    margin-bottom: 15px;
}

#label{
    font-family: sans-serif;
}
.card {
    width: 400px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 16px;
    background: #fff;
    margin-top: 15px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

form input {
    padding: 10px 5px;
    background: #e2dddd;
    border-radius: 3px;
    color: black;
    font-size: 18px;
    border: none;
}
form button {
    border: none;
    background-color: darkorange;
   width: fit-content;
   padding: 10px 8px;
   border-radius: 2px;
   font-size: 15px;
   cursor: pointer;
   
}


@media(max-width:768px) {
    
.container {
    
    height: 100vh;
    

}

    .sidenav {
        width: 0px;


    }

    .section {
        width: 100%;
    }

    .section .topnav {
        width: 100%;
    }

    #toggle {
        display: inline-block;
    }

    .topnav-h1 {}

}